<h1>New department_status</h1>

<%= error_messages_for :department_status %>

<% form_for(@department_status) do |f| %>
    <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>
  
    <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', department_statuses_path %>
