<h1>New ppos_template</h1>

<%= error_messages_for :ppos_template %>

<% form_for(@ppos_template) do |f| %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ppos_templates_path %>
