<div id="headers">
  <%= render :partial => 'header_template',
             :locals  => {:header_templates => @ppos_template.header_templates,
                          :ppos_template    => @ppos_template} %>
</div>


