Submitted on: <%= @support_request.created_datetime %>
---
<%= @user.full_name %>
<%= @user.department.name %>
<%= @user.email %>
---
Type: <%= @support_request.support_request_type %>
Summary: <%= @support_request.summary %>
Explination: <%= @support_request.explination %>