Congratulations <%= @user.first_name %>, you've been added to your universities GradApp server.

Use the following credentials to log in:

Login: <%= @user.login %>
Password: <%= @password %>

You will be asked to change your password the first time you log in.

Thanks for using GradApp!