<div id="formatting_guide" class="showhide" style="display:none;">

  <h4>Formatting guide</h4>
  <table>
    <tr>
      <th>To get this output&hellip;</th>
      <th>Type this&hellip;</th>
    </tr>
    <tr>
      <td>John Doe</td>
      <td>^ApplicantFullName^</td>
    </tr>
    <tr>
      <td>123 Apple Street<br>
          Apt. 2<br>
          Cupertino, CA 90125</td>
      <td>^MailingAddress^</td>
    </tr>
    <tr>
      <td>458-52-1436</td>
      <td>^StudentID^</td>
    </tr>
    <tr>
      <td>4.0</td>
      <td>^GPA^</td>
    </tr>
    <tr>
      <td>Requirement 1 Not Met<br>
          Requirement 2 Not Met
      </td>
      <td>^RequirementsNotMet^</td>
    </tr>
    <tr>
      <td>Requirement 1 Met<br>
          Requirement 2 Met
      </td>
      <td>^RequirementsMet^</td>
    </tr>
    <tr>
      <td>Requirement 1<br>
          Requirement 2
      </td>
      <td>^Requirements^</td>
    </tr>
    <tr>
      <td>Master of Science in Computer Programing</td>
      <td>^DegreeProgram^</td>
    </tr>
    <tr>
      <td>Rejected</td>
      <td>^ApplicantStatus^</td>
    </tr>
  </table>
</div>