html, body {
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }


#container {
  margin: 0px;
  padding: 0px;
  min-width: 800px;
  height:100%;
}

#header {
  background-color: #fc6;
  height: 60px;
  border-bottom: 2px solid black;
}

.foldy_tab {
  z-index: 2;
  position: relative;
  bottom: -22px;
  left: 10px;
}

#spacer {
  height: 10px;
  border-bottom: 2px solid black;
}

#subcontainer {
  background-color: #feb;
  min-height: 320px;
  border-bottom: 2px solid black;
}

#sidebar {
  width: 180px;
  padding: 20px 0 20px 20px;
  float: left;
}

#contents {
  height: auto;
  overflow: auto;
}

#contents2 {
  padding: 10px;
  margin: 10px;
  background-color: #fffbf7;
  border: 2px solid black;
  width: auto;
  height: auto;
}

#contents2 table, tr, th, td{
  border-collapse: collapse;
  border: 1px solid black;
  font: normal 16px "Trebuchet MS", Arial, sans-serif;
}

#contents2 td, th {
  padding: 0 6px 0 6px;
}

#contents2 th {
  color: #000;
  font-weight: bold;
  background: #eb6 url("/images/gradient.png") repeat-x top left;
}

tr.even{
	background-color: #fffcef;
	text-decoration: none;
}

tr.odd{
	background-color:#f6e6cf;
	text-decoration: none;
}

img.table_image{
	display: block;    margin-left: auto;    margin-right: auto
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #e90; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.linkbox_nav a{
  width: 150px;
  height: 25px;
  padding-top: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  background: url("/images/nav_button.png") no-repeat bottom;
  color: #000;
  font-size: 11px;
  font-weight: bold;
  border: 5px solid transparent;
}

.linkbox_nav a:hover{
  background: url("/images/nav_highlight.png") no-repeat bottom;
}

.linkbox_nav a:hover, a:active {
  color: #e90;
}
