html, body {
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #0e0e0e;
  color: #fff;
  cursor: default;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1 { font-family: "Trebuchet MS", Arial, sans-serif; font-size: 28px; }
h2 { font-family: "Trebuchet MS", Arial, sans-serif; font-size: 24px;}
h3 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #fff}

#top_links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#container {
  padding: 0px;
  min-width: 800px;
  height:100%;
}

#header {
  background: url("/images/lolvista.png") repeat-x top left;
  height: 60px;
  border-bottom: 1px dotted #666;
}

#navigation {
	float: right;
	margin-top: 40px;
	margin-right: 5px;
}

img.navimage {
	top: 3px;
	position: relative;
}

#logo {
  padding: 5px 0 0 5px;
}

#subcontainer {
  background-color: #1a1a1a;
  min-height: 320px;
  border-bottom: 1px dotted #666;
}

#sidebar {
  width: 160px;
  padding: 20px 0 10px 20px;
  float: left;
}

#contents {
  height: auto;
  overflow: auto;
}

#contents2 {
  padding: 10px;
  margin: 20px;
  background: #333 url("/images/flourish.png") no-repeat bottom right;
  border: 1px dotted #666;
  width: auto;
  height: auto;
}

#footer{
	color: #e6e6e6;
	font-size: 10px;
	float: right;
	margin-right: 5px;
	text-align: right;
}

#footer-version{
	margin-left: 5px;
	color: #727272;
	font-size: 10px;
	width: 400px;
}

#announcement {
  padding: 10px;
  margin: 20px;
  border: 2px solid #f2e32e;
  width: auto;
  height: auto;
	background-color: #fcffb4;
	color: #000;
	font-weight: bold;
	font-size: medium;
}

#announcement a {
	color: #000;
	font-weight: normal;
	font-style: normal;
}

#contents2 table, tr, th, td{
  border-collapse: collapse;
  border: 1px solid #666;
  font: normal 16px "Trebuchet MS", Arial, sans-serif;
}

#contents2 td, th {
  padding: 0 6px 0 6px;
}

#contents2 th {
  color: #fff;
  font-weight: bold;
  background: #000 url("/images/gradient.png") repeat-x top left;
}

#warning h1{
	color: red;
}
#support b{
	display: inline;
}
#support h2{
	font-size: 12px;
	margin-bottom: 1px;
	font-weight: normal;
	font-style: normal;
}

#support input,#support textarea, #support select{
	font-size: 16px;
}

.tablehead {
  color: #fff;
  font-weight: bold;
  background: #000 url("/images/gradient.png") repeat-x top left;
}

tr.even{
	background-color: #444;
}

tr.odd{
	background-color:#333;
}

img.table_image{
	display: block;
    margin-left: auto;
    margin-right: auto
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #e90; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation a{
	color: #333;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
	color: #000;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.linkbox_nav a{
  width: 150px;
  height: 25px;
  padding-top: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  background: url("/images/gloss_black.png") no-repeat bottom;
  color: #eee;
  font-size: 11px;

  border: 5px solid transparent;
}

.linkbox_nav a:hover{
  background: url("/images/gloss_orange.png") no-repeat bottom;
}

.linkbox_nav a:hover, a:active {
  color: #fff;
}