body {
  background-color: #eaeaff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#container {
  margin: 0px;
  padding: 0px;
  min-width: 800px;
  height:600px;
  border: 2px solid black;
}

#header {
  background-color: #eee;
  padding: 10px 10px 8px 10px;
  height: 40px;
}

#primary {
  background-color: #9ab;
  height: 488px;
}

#contents {
  height: 100%;
  border-left: 2px solid black;
  overflow: auto;
}

#contents2 {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  background-color: #ddd;
  width: auto;
}

#contents2 table, tr, th, td{
  border-collapse: collapse;
  border: 1px solid black;
  font: normal 12px "Trebuchet MS", Arial, sans-serif;
}

#contents2 td, th {
  padding: 0 6px 0 6px;
}

#contents2 th {
  font-weight: bold;
}

#sidebar {
  height: 100%;
  width: 150px;
  float: left;
  background-color: #9ac;
  background-image: url("/images/sidebar.png");
  background-repeat: repeat-y;
  background-position: top left;
}

#footer {
  text-align: right;
  background-color: #69D;
  background-image: url("/images/bottombar.png");
  background-repeat: repeat-x;
  background-position: center left;
  color: #ddd;
  padding: 3px 6px 3px 0;
  border-top: 2px solid black;
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.main_tabnav {
    color: #ddd;
    padding: 0px;
}

.main_tabnav ul {
	margin: 0px;
	padding: 0px;
}

.main_tabnav li {
	display: block;
	overflow: hidden;
	list-style-type: none;
	text-align: center;
    padding: 14px 0 14px 0;
	border-bottom: 2px solid black;
}

.main_tabnav a, a.active {
	color: #ddd;
	font: bold 1em "Trebuchet MS", Arial, sans-serif;
	margin: 0;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.main_tabnav a.active {
    color: #ddd;
}

.main_tabnav a:hover {
	color: #fff;
}

.main_tabnav a:visited {
	color: #ddd;
}

.main_tabnav a.active:hover {
	color: #ddd;
}

.main_tabnav_content {
    font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
	text-align: justify;
	background: #9af;
	border-top: none;
}

.main_navigation {
  background-color: #69D;
  background-image: url("/images/topbar.png");
  background-repeat: repeat-x;
  background-position: center left;
  color: #ddd;
  padding: 3px 6px 3px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.main_navigation ul {
  padding: 0;
  margin: 0;
  text-align: right;
}

.main_navigation li {
  display:inline;
  padding: 0;
  margin: 0;
}

.main_navigation li span.disabled {
  color: #888888;
}

.main_navigation a, .main_navigation a:visited{
  border: none;
  padding:0;
  margin:0;
  font-weight: bold;
  color: #DDD;
  text-decoration: none;
}

.main_navigation a:hover {
  font-weight: bold;
  color: #FFF;
}

.main_navigation a.active {
  font-weight: bold;
}

tr.even{
	background-color:#CCC;
}
tr.odd{
	background-color:#FFF;
}