<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[GradTrak] New User</title>
<%= stylesheet_link_tag "scaffold" %>
</head>
<body>
<div id="container">
<div id="header">
<img src="/images/gradtrak.png">
</div>
<%= navigation :main %>
<div id="primary">
<div id="sidebar">
<%= tabnav :main %>
</div>
<div id="contents">
<div id="contents2">

<h1>New User</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Add' %></p>
<% end -%>

<%= link_to 'Back', users_path %>

</div>
</div>
</div>
<div id="footer">
hadoken
</div>
</div>
</body>
</html>