<p>
  <b>Ppos template:</b>
  <%=h @consentrations_template.ppos_template_id %>
</p>

<p>
  <b>Total:</b>
  <%=h @consentrations_template.total %>
</p>


<%= link_to 'Edit', edit_consentrations_template_path(@consentrations_template) %> |
<%= link_to 'Back', consentrations_templates_path %>
