<% title 'About' %>

<h1>About GradApp</h1>

<h3>Project Goal Statement</h3>

<i>Deliver a standardized system for the electronic tracking of graduate applicants as well as the generation of template forms and planned programs of study.</i>

<h3>Developed by <a href="http://www.ducksoupsoftware.com">Duck Soup Software</a></h3>