<% title 'Home' %>

<h1>Welcome to GradApp!</h1>
<% if logged_in? %>
  <p>You are logged in as <strong><%=h current_user.login %></strong></p>
  <p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>
  
<% else %>
  <p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>
  <h3><%= link_to 'Please log in to continue', login_path %></h3>
<% end %>

<h5><%= link_to 'About GradApp', about_path %></h5>