<% title 'Support Request Submitted' %>

<h1>Your support request has been submitted!</h1>

<h3>We've got your message and we'll get back to you as soon as possible!<p>
Thanks again for using GradApp!</h3>