<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name + ' | Degree Requirements | Edit' %>

<h1>Editing Degree Requirement</h1>

<%= error_messages_for :degree_requirement %>

<% form_for :degree_requirement, @degree_requirement, :url => degree_requirement_path(@department, @degree_program, @degree_requirement), :html => { :method => :put} do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to 'Cancel', degree_requirements_path(@degree_program.department_id, @degree_program.id)  %>
</p>