<h1>New Degree Requirement</h1>

<%= error_messages_for :degree_requirement %>

<% form_for(@degree_requirement) do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', degree_requirements_path(@department.id, @degree_program.id) %>
