<table>
  <tr>
    <th>Sent date time</th>
    <th>Text</th>
    <th>Type</th>
  </tr>
<% for correspondence in @graduate_applicant.correspondences -%>
  <tr>
    <td><%=h correspondence.sent_date_time %></td>
    <td><%=h correspondence.text %></td>
    <td><%=h correspondence.type %></td>
  </tr>
<% end -%>
</table>
