<table>
  <tr>
    <th>Note</th>
    <th>Date Created</th>
    <th>Actions</th>
  </tr>
<% for note in notes -%>
  <tr id="<%= dom_id(note) %>">
    <td align="left">
      <%= note.text %>
    </td>
    <td>
      <%= note.created_date %>
    </td>
    <td align="center">
    <%= link_to_remote image_tag("remove.png", :border => 0), 
      :url => graduate_applicant_note_url(graduate_applicant, note), 
      :confirm => 'Are you sure?', 
      :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>