<h1>Editing Header</h1>

<%= error_messages_for :header_template %>

<% form_for :header_template, @header_template, :url => header_template_path(@header_template.ppos_template.degree_program.department, @header_template.ppos_template.degree_program, @header_template.ppos_template), :html => { :method => :put} do |f| %>
  <p>
    <b>Header</b><br />
    <%= f.text_field :header %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_template_path(@header_template.ppos_template.degree_program.department, @header_template.ppos_template.degree_program, @header_template.ppos_template) %>
