<h1>Editing Prerequisite</h1>

<%= error_messages_for :prerequisite_template %>

<% form_for :prerequisite_template, @prerequisite_template, :url => prerequisite_template_path(@department, @degree_program, @ppos_template), :html => { :method => :put} do |f| %>
  <p>
    <b>Prerequisite</b><br />
    <%= f.text_field :prerequisite %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to 'Cancel', ppos_template_path(@department.id, @degree_program.id,@ppos_template.id) %>
</p>
