<h1>New Prerequisite</h1>

<%= error_messages_for :prerequisite_template %>

<% form_for(@prerequisite_template) do |f| %>
  <p>
    <b>Prerequisite</b><br />
    <%= f.text_field :prerequisite %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_template_path(@department.id, @degree_program.id,@ppos_template.id) %>
