<p>
  <b>Ppos template:</b>
  <%=h @prerequisite_template.ppos_template_id %>
</p>

<p>
  <b>Prerequisite:</b>
  <%=h @prerequisite_template.prerequisite %>
</p>


<%= link_to 'Edit', edit_prerequisite_template_path(@prerequisite_template) %> |
<%= link_to 'Back', prerequisite_templates_path %>
