<% title 'Setup' %>

<h1>Welcome to GradTrak!</h1>
<hr>
<h3>This guide will assist you in setting up your new install of GradApp</h3>
<h3>First, <%= link_to 'Add the Admin User', :controller => 'users', :action => 'new' %></h3>