<% title [@department.name,'Department'].join(' ') + ' | Application Requirements | Edit' %>

<h1>Editing Application Requirement</h1>

<%= error_messages_for :application_requirement %>

<% form_for(@application_requirement) do |f| %>
  <p>
    <b>Requirement Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back to Application Requirements', department_application_requirements_path(@department) %>
