<p>
  <b>Text:</b>
  <%=h @application_requirement.text %>
</p>

<p>
  <b>Department:</b>
  <%=h @application_requirement.department %>
</p>


<%= link_to 'Edit', edit_application_requirement_path(@application_requirement) %> |
<%= link_to 'Back', application_requirements_path %>
