<% title 'Templates | Planned Program of Study' %>

<p style="color: green"><%= flash[:notice] %></p>

<h1>Templates</h1>

<p>
  <h3>
    <%= link_to 'Correspondence', correspondence_templates_path %> | 
    Planned Program of Study
  </h3>
</p>