<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <style>
    	body {height: 8.5in; width: 11in; size: landscape; margin: 0px;}
		h1 {font-size: 20px}
		h2 {font-size: 16px}
		h3 {font-size: 14px}

		.topsection {
			font-size: 11px;
			text-align: center;
		}

		.middlesection table{
    		font-size: 12px;
    		border-collapse: collapse;
    		table-layout: auto;
		}

		.middlesection th {
			text-align: left;
		}

		.bottomsection {
			font-size: 12px;
		}
    </style>
    <title>Print: <%= yield(:title) || "GradApp" %></title>
  </head>
  <body>
    <%= yield  %>
  </body>
</html>