<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[GradApp]: Log in</title>
<%= stylesheet_link_tag "scaffold" %>
</head>
<body style="text-align: center" onLoad="document.forms[0].elements[1].focus();">
<div style="background: #333 url('/images/flourish.png') no-repeat bottom right; width: 250px; border: 1px dotted #666; padding: 10px; margin: 100px auto 0 auto">

<%= yield  %>

</div>
</body>
</html>